*{
    text-align: center;
    transition: 0.2s;
}
/* theme_______________________ */
 body{
    background-color: hsl(222, 26%, 31%);
    font-family: 'Spartan', sans-serif;
    color: #fff;
    height: 90vh;
}
b,p,.theme-name{
    color: #fff;
}
.numbers,.Reset,.DEL,.equal_button,.operands{
    background-color: hsl(30, 25%, 89%);
    width: 20%;
    border-radius: 0.4rem;
    color: hsl(224, 28%, 35%);
    font-weight:bolder;
    height: 2rem;
    text-align: center;
    padding-top:0.8rem ;
    border-bottom: 3px solid hsl(28, 16%, 65%);
}
.screen{
    background-color: hsl(224, 36%, 15%);
}
.keypad{
    background-color: hsl(223, 31%, 20%);
}
.current-operands-screen{
    color: #fff;
}
.DEL{
    background-color: hsl(225, 21%, 49%);
    border-bottom: 3px solid hsl(224, 28%, 35%);
    color: #fff;
    
}
.Reset{
    color: #fff;
    width: 45%;
    background-color:hsl(225, 21%, 49%);
    border-bottom: 3px solid hsl(224, 28%, 35%);
}
.equal_button{
    color: #fff;
    width: 45%;
    background-color: hsl(6, 63%, 50%);
    padding-top:0.8rem ;
    border-bottom: 3px solid hsl(6, 70%, 34%);

}
.dot{
    background-color: hsl(268, 71%, 12%);
}
/* theme togglrer button */
.circle,.circle_1,.circle_2{   
    width: 29%; 
    height: 1.5rem;
    border-radius: 100rem;
}
.circle{
    background-color: hsl(6, 63%, 50%);
}
.circle_1{
    background-color: hsl(25, 98%, 40%); 
}
.circle_2{
    background-color: hsl(176, 100%, 44%);
}


/* main calculator ________________*/
b{
  font-size: 2rem;
}

.theme-name{
    font-size: 0.8rem;
    font-weight: bolder;
    margin-right: 1rem;
}
.main-top{
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
    justify-content:space-between;
    margin: 2rem auto 0rem auto;
    height: 4rem;
}
.second-top{
    display: flex;
    width: 35%;
    align-items: flex-end;
}
.theme-changer{
    display: flex;
    width: 100%;
    height: 3rem;
    flex-direction: column;
    justify-content:space-between;
}
.theme-nummbers{
    display: flex;
    width: 97%;
    align-items: flex-start;
    justify-content: space-between;
}
p{
    margin: 0;
}
.dot{
    width: 100%;
    height: 1.8rem;
    border-radius: 5rem;
    align-self:flex-end;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#theme,#theme_1,#theme_2{
    width: 29%; 
    height: 1.5rem;

}
.screen{
    width: 35%;
    height: 8rem;
    border-radius: 0.4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.previous-opred-screen{
    text-align: right;
    margin: 0rem;
    font-size: 2rem;
    overflow-x: hidden;
    direction:rtl;
}
.current-operands-screen{
    text-align: right;
    overflow-x:hidden;
    direction: rtl;
    margin: 0;
    font-size: 4rem;
    font-weight: bolder;
}
.keypad{
    width: 35%;
    height: 25rem;
    border-radius: 0.4rem;
    margin: 1.5rem auto 1.5rem auto;
    display: flex;
    flex-direction: column;
}
.keypad_btn{
    margin-top:1rem;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
}
/* animation */
.preseedkey{
    color: black;
    background-color: brown;
    
}
@media (max-width: 909px){
    .numbers,.Reset,.DEL,.equal_button,.operands{
        width: 20%;
        border-radius: 0.4rem;
        font-weight:bolder;
        height: 2rem;
        text-align: center;
        padding-top:0.8rem ;
    }
    .Reset{
        width: 45%;
    }
    .equal_button{
        width: 45%;
        padding-top:0.8rem ;
    }
    /* theme togglrer button */
    .circle,.circle_1,.circle_2{   
        width: 28%; 
        height: 1.7rem;
        border-radius: 100rem;
    }
    /* main calculator ________________*/
    
    .main-top{
        width: 100%;
    }
    .second-top{
        width: 30%;
    }
    .theme-changer{
        width: 100%;
        height: 3rem;
    }
    .theme-nummbers{
        width: 97%;
    }
    p{
        margin: 0;
    }
    .dot{
        width: 100%;
        height: 1.8rem;
        border-radius: 5rem;
        align-self:flex-end;    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #theme,#theme_1,#theme_2{
        width: 32%; 
        height: 1.5rem;
    }
    .screen{
        width: 100%;
        height: 8rem; 
    }
    .keypad{
        width: 100%;
        height: 25rem;
        border-radius: 0.4rem;
        margin: 1.5rem auto 1.5rem auto;
        display: flex;
        flex-direction: column;
    }
    .keypad_btn{
        margin-top:1rem;
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
    } 
}
@media (max-width: 452px){
    .second-top{
        width: 40%;
    }
}